@use "variables";

.ContainerBooks {
  width: 83%;
  background-image: url(../assets/backgroundBooks.png);
  background-size: 100%;

  //CAJA DEL INPUT SEACH (BUSCADOR)
  .boxInputSearch {
    margin: auto;
    width: 100%;
    padding: 40px 0px 25px 0px;
    position: sticky;
    top: 0;
    z-index: 30;
    background-color: transparent;

    .search {
      position: relative;
      margin: 0px 183px;

      .inputSeach {
        width: 749px;
        padding: 15px 140px 15px 19px;
        border: none;
        color: #333333;
        border-radius: 5px;
        outline: none;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        outline: 2px solid #2e387a44;
      }
      .btnSubmit {
        color: #ffffff;
        background: linear-gradient(0deg, #536976, #292e49);
        border: none;
        cursor: pointer;
        padding: 15px 55px;
        border-radius: 0px 5px 5px 0px;
        position: absolute;
        top: 0;
        right: 0;

        .IoSearch {
          transform: scale(1.8);
        }
      }
    }
  }

  //CAJA DE LIBRERIA (CONJUNTO DE LIBROS)
  .Library {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

//MENSAJE LIBROS NO ENCONTRADOS (CONJUNTO DE LIBROS)
.msgNotFindedBook {
  width: 74vw;
  height: 26vh;

  > p {
    color: #292e49;
    font-family: Inter;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
  .emojiSad {
    color: #292e49;
    margin: auto;
    width: 100%;
    margin-top: 20px;
    font-size: 150px;
  }
}

//ANIMACION DE CARGA DE LIBROS()
@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg) scale(1);
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: #292e49;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
}

.boxLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 66vh;
}