$color-blue950: #20244B;
$color-blue900-9: #2E387A90;
$color-blue900: #2E387A;
$color-blue800: #333e9a;
$color-blue700: #384abd;
$color-blue200: #c8d6f5;
$color-blue50: #f1f4fd;
$color-black333: #333333;
$color-black2: #222222;
$color-black333-7: #33333373;
$color-gray: #777777;
$color-orange: #ff771a;
$color-white: #ffffff;
$font-familyInter: "Inter", sans-serif;
$font-familyInriaSans: "Inria Sans", sans-serif;
